<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Datos del Estudiante</h1>
    <p>Nombre: Maria ESther Tiguila Soloj </p>
    <p>Universidad: Universidad Rafael Landivar </p>
    <p>Facultad: Facultad de ingenieria </p>
    <p>Curso: Sistemas operativos</p>
</body>
</html>
